body {
    background-color: rgb(36, 47, 64);
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    font-family: 'Montserrat', sans-serif;
}

.nacionalidade{
    color: rgb(229, 229, 229);
    background-color: rgb(204, 164, 59);
    width: 750px;
}

.myself{
    color: rgb(204, 164, 59);
}

.paragrafo{
    color: white;
    font-size: 20px;
}

#Tocar-guitarra{
    font-size: 20px;
    font-weight: bold;
}

#Cozinhar{
    font-size: 20px;
}
#Desenhar{
    font-size: 20px;
}

#lista{
    background-color: rgb(10, 129, 209);
    width: 200px;
}

.links:hover{
    color: rgb(229, 229, 229);
    background-color: rgb(10, 129, 209);
    text-decoration: none;
}

footer{
background-color: rgb(204, 164, 59);
width: 750px;
}
